body {
    width: 1140;
    font-size: 18px;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #285253;
    background-image: url(img/cat.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.cadre {
    border: 3px solid #162829; 
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 50px;
    background-color: rgba(40, 82, 83, 0.51);
    width: 35%;
    text-align: center;
}

h1 {
    font-size: 200px;
    line-height: 10%;
}

h2 {
    font-size: 100px;
    letter-spacing: 20px;
}

p {
    letter-spacing: 2px;
    margin-bottom: 50px;
}
a {
    letter-spacing: 2px;
    color: #2c2c2c;
    border: 1px solid #162829;
    background-color: rgba(110, 209, 211, 0.3);
    padding: 6px 10px;
    border-radius: 5px;
}

a:hover {
    letter-spacing: 2px;
    color: #2c2c2c;
    font-style: italic;
    border: 1px solid #162829;
    background-color: rgba(40, 82, 83, 0.58);
    padding: 6px 10px;
    border-radius: 5px;
}