body {
    width: 1140;
    font-size: 18px;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #285253;
    background-image: url(img/cat.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.cadre {
    border: 3px solid black; 
    margin-left: 0px;
    margin-top: 40px;
    padding-bottom: 50px;
    background-color: rgba(40, 82, 83, 0.51);
    width: 35%;
    text-align: center;
}

h1 {
    font-size: 200px;
    line-height: 10%;
}

h2 {
    font-size: 100px;
    letter-spacing: 20px;
}

p {
    letter-spacing: 2px;
}