body {
    width: 1140;
    font-size: 18px;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #285253;
    background-image: url(img/cat.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.cadre {
    border: 3px solid #162829; 
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 50px;
    background-color: rgba(40, 82, 83, 0.51);
    width: 35%;
    text-align: center;
}

h1 {
    font-size: 200px;
    line-height: 10%;
}

h2 {
    font-size: 100px;
    letter-spacing: 20px;
}

p {
    letter-spacing: 2px;
    margin-bottom: 50px;
}
a {
    letter-spacing: 2px;
    color: #2c2c2c;
    border: 1px solid #162829;
    background-color: rgba(110, 209, 211, 0.3);
    padding: 6px 10px;
    border-radius: 5px;
}

.animate:hover {
    animation-name: jello;
    animation-duration: 2s;
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
